<!DOCTYPE html>
<html>
<head>
  <title>Sapi</title>
  <%= stylesheet_link_tag 'https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css' %>
  <% if false %> <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %> <% end %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
